# Frontend
frontend/node_modules/
frontend/.next/
frontend/typings/
frontend/public/sw.js
frontend/public/workbox-*.js

# Backend
backend/venv/
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/*.pyc

# Environment
.env
.env.local
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
